@font-face {
  font-family: "song";
  src: url("../fonts/song.ttf") format("truetype");
}

/*========================

Universal Styling

*=========================*/


*{
  margin:0;
  padding: 0;
  border: 0;
  border-style:solid;
  border-radius: 20;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
    margin: 20px;
    text-align: center;
}

p {
  clear: both;
  margin: 20px;
}

nav li{
    display: inline;
    margin: 20px;
}

.floatleft {
  float:left;
  margin: 20px;
}

.hero-image {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.hero-image:hover {
filter: grayscale(.3);
}



/*=========================

fonts

*=========================*/
h1,
h2,
h3,
h4
{
  font-family: 'Handlee', cursive;
  color: white;
  text-align:center;
}

h1{
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p{
  font-family: song,serif;
  font-size: 20px;
  color: white;
}

nav ul li a{
  font-size: 25px;
  font-weight: bold;
  color:gray;
}


.body-text {
  height:auto;
}

.garden-name {
  font-style: italic;
}
