@font-face {
  font-family: "song";
  src: url("../fonts/song.ttf") format("truetype");
}

/*========================

Universal Styling

*=========================*/


*{
  margin:0;
  padding: 0;
  border: 0;
  border-style:solid;
  border-radius: 20;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
    margin: 20px;
    text-align: center;
}

p {
  clear: both;
  margin: 20px;
}

nav li{
    display: inline;
    margin: 20px;
}

.floatleft {
  float:left;
  margin: 20px;
}

.hero-image {
    text-align: center;
    margin-top:200px;
    position: relative;
    z-index: 10;
}

.hero-image:hover {
filter: grayscale(.3);
}

.small-rose {
    position: absolute;
    top: -10px;
    left: 0;
    opacity: 40%;
    margin: 20px;
    margin-bottom: 95px;
    animation-name: move;
    animation-duration: 25s;
    amimation-iteration-count:infinite;
    z-index: 100;
}

/*=========================

fonts

*=========================*/
h1,
h2,
h3,
h4
{
  font-family: 'Handlee', cursive;
  color: white;
  text-align:center;
}

h1{
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  bottom: 650px;
  width: 100%;
}

p{
  font-family: song,serif;
  font-size: 20px;
  color: white;
}

nav ul li a{
  font-size: 25px;
  font-weight: bold;
  color:gray;
}


.body-text {
  height:auto;
}

.garden-name {
  font-style: italic;
}


/*========================

Animation Styling

*=========================*/




@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px);
  }

}
